
.form-container{
    max-width: 500px;
    padding: 1rem;
}
.login-card {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.div-suport{
    width: null;
}
gradiente-back{
    background: linear-gradient(180deg, #FFF 7.29%, rgba(254, 255, 255, 1.00) 7.3%, rgba(35, 227, 181, 0.41) 100%);
}
@media screen and (max-width:568px) {
    .login-card {
        width: 100%;
        padding: 20px;
        border-radius: 0px;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        
    }
    .div-suport{
        width: 100vh;
    }
    .form-container{
        max-width: 100%;
        padding: 1rem;
    }
}